@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #050507;
    color: #E5E7EB;
  }
}

.grid-overlay {
  background-image: linear-gradient(#9f875020 1px, transparent 1px),
    linear-gradient(90deg, #9f875020 1px, transparent 1px);
  background-size: 32px 32px;
}

.crimson-glow {
  box-shadow: 0 0 10px rgba(94, 11, 18, 0.4);
}
